 .header {
        background-color: white;
        padding: 27px 0px 25px;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        border-bottom: 1px #b7acac solid;
    }

    .headertitle {
        color: #575757;
        font-size: 23px;
        font-family: cursive;
        font-style: italic;
        margin-left: auto;
        margin-right: 7rem;
        width: 9rem;
        margin-bottom: 0px;
        margin-top: -36px;
    }

    .searchbox {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 18rem;
        margin-top: -1rem;
    }

    #search {
        background-color: white;
        border: 0.2px darkgray solid;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 13rem;
        text-align: center;
    }

    #searchenter {
        background-color: darkgray;
        border: darkgray solid;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: -4px;
        color: white;
    }

    .logindiv {
        margin-left: 5rem;
        width: 10rem;
    }

    .login {
        background-color: inherit;
        border: inherit;
        color: black;
        font-size: 17px;
        font-family: fantasy;
        font-style: italic;
        cursor: pointer;
    }

    .login:focus {
        outline: 0;
    }

    .loginmenu {
        background-color: white;
        width: 25rem;
        height: 21rem;
        margin-top: 7rem;
        position: fixed;
        z-index: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border: 1px #b7acac solid;
    }

    .registermenu {
        background-color: white;
        width: 25rem;
        height: 27rem;
        margin-top: 7rem;
        position: fixed;
        z-index: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border: 1px #b7acac solid;
    }

    .logintitle {
        text-align: center;
        font-size: 25pt;
        font-family: monospace;
        font-style: italic;
        margin-top: 0rem;
    }

    .logininput {
        background-color: white;
        border: 0.2px darkgray solid;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 13rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
        font-size: small;
    }

    .loginbutton {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 3rem;
        border: #63a5f7 solid;
        background-color: #63a5f7;
        padding: 10px 88px 10px;
        cursor: pointer;
        color: white;
        font-size: initial;
    }

    .loginbutton:focus {
        outline: 0;
    }

    .close {
        margin-left: auto;
        display: block;
        cursor: pointer;
        height: 2.4rem;
    }

    .or{
        font-size: 20px;
    }

 @media only screen and (max-device-width: 479px){

     .headertitle {
         color: #575757;
         font-size: 23px;
         font-family: cursive;
         font-style: italic;
         margin-left: auto;
         margin-right: 2rem;
         width: 9rem;
         margin-bottom: 0px;
         margin-top: -36px;
     }

     .searchbox {
         display: none;
     }

     .logindiv {
         margin-left: 1rem;
         width: 10rem;
     }

     .loginmenu {
         background-color: white;
         width: 100%;
         height: 100%;
         position: fixed;
         z-index: 0;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         border: 1px #b7acac solid;
         top: -35px;
     }

     .registermenu {
         background-color: white;
         width: 100%;
         height: 100%;
         position: fixed;
         z-index: 0;
         left: 0;
         right: 0;
         margin-left: auto;
         margin-right: auto;
         border: 1px #b7acac solid;
         top: -35px;
     }
 }