body{
    background-color: #d0caca;
}

    .profile{
        background-color: white;
        width: 50rem;
        height: 19rem;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        border-left: 1px #b7acac solid;
        border-right: 1px #b7acac solid;
        border-bottom: 1px #b7acac solid;
        padding-top: 33px;
    }

    .profileimage{
        border: 1px #b7acac solid;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 52px;
        height: 11rem;
    }

    .profilename{
        text-align: center;
        font-size: 27px;
        font-weight: 600;
        margin-top: 11px;
    }

    .profiledesc{
        text-align: center;
        margin-top: -17px;
        font-size: 16px;
        font-style: italic;
    }

    .posts{
        margin-top: 4%;
        margin-left: auto;
        width: 76rem;
        margin-right: auto;
    }

    .post{
        display: inline-block;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .postimage{
        height: 26rem;
        width: 24rem;
        cursor: pointer;
    }

    #zoomedpost{
        height: 38rem;
        width: 50rem;
        z-index: 0;
        position: fixed;
        top: 8rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-shadow: 5px 10px #888888;
    }

    #zoomedpostimage{
        width: 50%;
        height: 100%;
        display: inline-block;
    }

    #zoomedpostdesc{
        background-color: white;
        height: 100%;
        width: 50%;
        display: inline-block;
        margin-left: 0px;
        position: absolute;
    }

    #zoomeduserimage{
        height: 4rem;
        margin-left: 6rem;
        display: inline-block;
        margin-bottom: -2rem;
        margin-top: -1rem;
    }

    #zoomedusername{
        display: inline-block;
        text-indent: 10px;
        font-weight: 900;
        font-family: monospace;
        font-size: 14px;
    }

    .zoomeduserline{
        border-bottom: 1px #b7acac solid;
        margin-top: 2rem;
    }

    .comments{
        width: 100%;
        height: 81%;
        overflow: auto;
    }

    .comment{

    }

    @media only screen and (max-device-width: 479px){
        .profile{
            background-color: white;
            width: 100%;
            height: 100%;
            margin-top: 4rem;
            border-left: 1px #b7acac solid;
            border-right: 1px #b7acac solid;
            border-bottom: 1px #b7acac solid;
            padding-top: 33px;
        }

        .posts{
            margin-top: 4%;
            margin-left: auto;
            width: 22rem;
            margin-right: auto;
        }

        #zoomedpost{
            width: 100%;
            top: 4.5rem;
        }

        .postimage {
            height: 14rem;
            width: 19rem;
            cursor: pointer;
        }

        #zoomedpostimage{
            width: 100%;
            height: 100%;
            display: inline-block;
        }

        #zoomedpostdesc{
            display: none;
        }


    }